<% include ../partials/header %>
<ui class=" ui text main container segment">
        <form class="ui form" action="/register" method="POST">
                <div class="field">
                  <label>username</label>
                  <input type="text" name="username" placeholder="username">
                </div>
                <div class="field">
                  <label>Password</label>
                  <input type="password" name="password" placeholder="password">
                </div>
          
                <button class="ui green button" type="submit">Sign Up!</button>
              </form>
</ui>


<% include ../partials/footer %>